html {
 	scroll-behavior: smooth;
	scroll-padding-top: 100px;
	scroll-margin-top: 100px;
	
}



strong {
  pointer-events: none;
}



section {
	background-color: #fff;
	margin-top: 50px;
	box-sizing: border-box;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	border: 1px solid #d6d3d3;
	border-width: 1px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	
}


article {
	margin: 0 auto;	
	
}

body {
	background-color: #fafafa;
	box-sizing: border-box;
	margin-top: 100px;
	font-family: "Jura", sans-serif;
	height:100vh;
	
	margin: 0 auto;
}

#Home {
	scroll-margin-top: 100px;
}
	
#header {
	text-align: center;
	color: #333;
	background-color: #fafafa;
	font-size: 2em;
	margin: 0;
}

.TopNav {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: #fafafa;
	overflow: hidden;
	border-bottom: 1px solid #b9b7b7;
	
	
}

.TopNav li {
	float: right;
	list-style-type: none;
	margin: 0;
	
	font-size: 1em;
	color: #222;
	background-color:#fafafa;
	
}
.TopNav li a {
	display: block;
	color: #333;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 18px;
}

nav ul {
  display: flex;
  flex-wrap: wrap; /* Allows links to wrap to the next line if they don't fit */
  justify-content: center;
  padding: 0;
  gap: 15px;
}

nav li {
  list-style: none;
}


.header {
	margin: 0;
	text-align: center;
	font-size: 2em;
	padding: 20px;
	color: #fafafa;
	background-color:#eee;
    border-bottom: 1px solid #d6d3d3;
	
	
	
}
#article {
	width: 60%;
	border-right:none;
	border-left:none;
	margin: 0 auto;

	
}

#AmazonDSPDriver {
	cursor: pointer;
}
#AmazonDSPDriverDescription {
	display: none;
}
#ComputerRepairTechnician {
	cursor: pointer;
}
#ComputerRepairTechnicianDescription {
	display: none;
}	
#FreelanceWebDeveloper {
	cursor: pointer;
}
#FreelanceWebDeveloperDescription {
	display: none;
}
#ITSupportAssociate {
	cursor: pointer;
}
#ITSupportAssociateDescription {
	display: none;
}

#footer {
	
	text-align: center;
	margin-top: 50px;
	background-color: #fefefe;
	border-top: 1px solid #b9b7b7;
	font-size: 18px;
	color: #1f1f1f;
}
.footer-table {
	width: 100%;
	border-collapse: collapse;
	margin:0;
	font-size: 18px;
	text-align: center;
}

@media screen and (max-width:600px){
	#article {
		width:100%;
	}
}
p {
	clear: both;
	
	line-height: 1.75;
	padding: 30px;	
	font-size: 20px;
	text-align: left;
	box-sizing: border-box;
	background-color: #fff;
	
	
}

ul {
	clear: both;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2.75;
	font-size: 18px;
	color: #222;
	background-color:#eee;
	padding: 20px;
	text-align: left;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
	margin:0;
	text-align: right;
	color: #666;
	padding: 20px;
}

h2 {
	margin:0;
	font-size:1em;
	margin:0;
	text-align: left;
	color: #666;
	padding: 20px;
}

tr {
	border: 1px solid #d6d3d3;
	text-align: left;
	padding: 20px;
	margin: 0;
	
	
}

td {
	padding: 20px;
	text-align: left;
	font-size: 1em;
	color: #222;
	background-color:#eee;
	margin: 0;
	
	
}
th {
	padding: 20px;
	text-align: left;
	font-size: 18px;
	color: #222;
	background-color:#eee;
	margin: 0;
	
}



.links {
	text-decoration:none;
	position:relative;
	z-index:3;
	color:#000000;
	font-size: 18px;
	
}
	


.links:hover {
	color:rgba(0, 38, 255, 0.9);
	position:relative;
	z-index:3;
	
}

img {
	width:60%;
	top:200px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	opacity:0.05;
	z-index:1;
	max-width: 100%;
    height: auto;
}

.skills-table {
	
	border:1px solid #d6d3d3;
	width: 100%;
	border-collapse: collapse;
	
}
.skills-table td, .skills-table th {
	border: 1px solid #d6d3d3;
	padding: 18px;
}
.spacer {
	
	margin-top: 100px;
	border-left: none;
	border-right: none;
	
}